#fi-logo{
	display: block;
	margin: auto;
	height: 30%;
	width: 30%;
}

#unam-logo{
	display: block;
	margin: auto;
	height: 40%;
	width: 40%;
}

#swebok-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 50%;
	width: 50%;
}

#spice-img, #img-404{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}